---
import { Image } from "astro:assets";
---

<header class="p-4">
	<div class="container flex justify-between h-16 mx-auto">
		<a rel="noopener noreferrer" href="#" aria-label="Back to homepage" class="flex items-center ">
			<Image src="https://res.cloudinary.com/dcyr5qkhg/image/upload/v1735056704/watproportada2-removebg-preview_zqzpni.png" alt="logo watpro" width="200" height="50"/>
		</a>
		<ul class="items-stretch hidden space-x-3 lg:flex font-bold">
			<li class="flex ">
				<a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 hover:border-sky-600 hover:text-sky-600">¿Quienes Somos?</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 hover:border-sky-600 hover:text-sky-600">Servicio</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 hover:border-sky-600 hover:text-sky-600">WATPRO informa</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 hover:border-sky-600 hover:text-sky-600">Atencion al publico</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 hover:border-sky-600 hover:text-sky-600">Contacto</a>
			</li>
		</ul>
		
		<button class="p-4 lg:hidden">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-gray-800">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
		</button>
	</div>
</header>