---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body class="">
    <Header />
    <div class="flex">
      <div class="border-2 w-1/2 h-screen">
        <h3>INGENIERIA EN AGUAS Y PROCESOS</h3>
        <h1>"Soluciones reales para los desafios del agua."</h1>
        <button>ATENCION AL PUBLICO</button>
      </div>
      <div class="border-2 w-1/2"></div>
    </div>
  </body>
</html>
